#map {
  position: inherit;
  top: 0;
  bottom: 0;
}
@media (min-width: 100) and (max-width: 760)
{
  .container{
    padding-bottom: 15vh;
  }

  #map {
    height: 80vh !important;
  }

}

.card{
  padding: 10px;
    border: solid #d9d9d9;
    border-radius: 10px;
    background: #d9d9d9;
    font-weight: bold;
    cursor:pointer
}
